body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;

}

nav {
    background-color: #efefef;
    text-decoration: none;
    padding-right: 20px;
    flex: 1;
}

.navbar {
    list-style-type: none;
    padding: 15px 25px;
}

.navbar li {
    display: block;
    margin-bottom: 13px;
}

header {

    background-color: #7c0000;
    padding: 0.10rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    width: 100%;
}

.big-wrapper {

    border-style: solid;
    border-width: 7px;
    padding: 1rem;
    margin: 5px 0 12px 15px;
    flex: 6;
    display: flex;
    flex-wrap: wrap;
}

.second-wrapper{
    display: flex;
}

.danger{
    background-color: darkorange;
    color: white;
    padding: 5px 5px 5px  15px;
    margin-bottom: 10px;
    width: 100%;
}

.band-image {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    margin: 0px 15px 0px 0px;
}

footer  {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.1em 0;
    width: 100%;
}

/*  ΕΠΙΚΟΙΝΩΝΙΑ    */

.contact-header {
    text-transform: none;
}

.field-for-input {
    display: block;
    margin: 1px 0px 10px 0px;
}

fieldset {
    border-style: none;
    margin: 12px 0;
    padding: 3px 0;
}

fieldset   label {
    display: flex;
}


#result-box {
    display: block;
    background-color: black;
    color: white;
    padding: 0  10px;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    max-width: 45%;
}

.hr-line {
    border: none;
    border-top-width: 1px;
    border-top-color: white;
    border-top-style: dashed;
}

.lista {
    list-style-type: "-";
    padding: 0 15px;
}

.show-body {
 display: block;
}

@media screen and (max-width:600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        padding: 0;
    }

    .navbar {
        flex-wrap: wrap;
        display: flex;
        padding-bottom: 0;
        justify-content: space-evenly;
    }

    .big-wrapper {
        margin: 0;
        padding: 10px;
    }

    .band-image {
        width: 100%;
        height: auto;
    }

    .second-wrapper {
        display: flex;
        flex-direction: column;
    }

    .danger{
        background-color: darkorange;
        color: white;
        margin-right: auto;
        width: 100%;
    }

    .big-wrapper  form{
        display: block;
        flex: 1;
    }
    .upovoli {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
    }

    .katharismos {
        display: block;
        width: 100%;
    }
    #result-box {
        max-width: 80%;
    }
}

@media screen and (min-width:601px) and (max-width: 800px) {

  #result-box {
      max-width: 90%;
  }

    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        padding: 0;
    }

    .navbar {
        display: flex;
        padding-bottom: 0;
        justify-content: space-evenly;
    }

    .big-wrapper {
        margin: 0;
        padding: 10px;
    }

    .band-image {
        width: 100%;
        height: 100%;
    }

    .second-wrapper {
        display: flex;
        flex-direction: column;
    }

    .danger{
        background-color: darkorange;
        color: white;
        margin-right: auto;
        width: 100%;
    }
    .big-wrapper  form{
        display: inline-block;
        flex-direction: column;
        flex: 1;
    }

    .upovoli {
        display: block;
        width: auto;
        margin-bottom: 0.5em;
    }

    .katharismos {
        display: block;
        width: auto;
    }
}